In [5]:
from langchain.llms import GooglePalm
api_key ="AIzaSyAH7dV3_tTgk4y7dB3aExuZHkqS_lC5gXI"
llm = GooglePalm(google_api_key=api_key,temperature=0.2)
poem = llm("write a poem on samosa")
print(poem)

Oh, samosa, you are so delicious,
With your crispy shell and golden filling.
You are the perfect snack for any occasion,
And you always make me smile.

I love your flaky crust,
And your flavorful filling of potatoes, peas, and spices.
You are the perfect combination of sweet and savory,
And you always leave me wanting more.

I love to eat you with a cup of tea,
Or as a side dish to my favorite meal.
You are the perfect way to end a long day,
And you always make me feel happy.

Oh, samosa, you are my favorite food,
And I will never get tired of you.
You are the best thing that has ever happened to me,
And I will always love you.

In [6]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [7]:
import mysql.connector

In [8]:
import pymysql
connection = pymysql.connect(
    host='localhost',
    port=3306,  # or your specific port
    user='root',
    password='userrt',
    db='atliq_tshirts'
)

In [9]:
db_user = "root"
db_password = "userrt"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Black	S	12	71
2	Van Huesen	White	S	37	45
3	Adidas	Blue	L	45	36
*/

In [10]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

C:\Users\Prince Boy\AppData\Roaming\Python\Python311\site-packages\langchain_core\_api\deprecation.py:141: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(19,)]
Answer:19
> Finished chain.

In [11]:
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

C:\Users\Prince Boy\AppData\Roaming\Python\Python311\site-packages\langchain_core\_api\deprecation.py:141: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('256'),)]
Answer:256
> Finished chain.

In [12]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('27895.800000'),)]
Answer:27895.8
> Finished chain.

In [13]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levis'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levis'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levis'
SQLResult: [(None,)]
Answer:None
> Finished chain.

# Few short Learning

In [14]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4
     
     }
]

In [15]:
import os

In [17]:
#from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [18]:
to_vectorize = [" ".join(str(value) for value in example.values()) for example in few_shots]
print(to_vectorize)

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query {'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '19'}", "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 256", "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query 27895.8", "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query None"]

In [19]:

# Inspect the first item in the dataset
print("First item in few_shots:", few_shots[0])

# Check the type and content of each item
for i, item in enumerate(few_shots[:10]):
    print(f"Item {i} type: {type(item)}, content: {item}")

First item in few_shots: {'Question': 'How many t-shirts do we have left for Nike in XS size and white color?', 'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'", 'SQLResult': 'Result of the SQL query', 'Answer': {'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '19'}}
Item 0 type: <class 'dict'>, content: {'Question': 'How many t-shirts do we have left for Nike in XS size and white color?', 'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'", 'SQLResult': 'Result of the SQL query', 'Answer': {'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '19'}}
Item 1 type: <class 'dict'>, content: {'Question': 'How much is the total price of the inventory for all S-size t-shirts?', 'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'", 'SQLResult': 'Result of the SQL query', 'Answer': '256'}
Item 2 type: <class 'dict'>, content: {'Question': 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?', 'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ", 'SQLResult': 'Result of the SQL query', 'Answer': '27895.8'}
Item 3 type: <class 'dict'>, content: {'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?', 'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'", 'SQLResult': 'Result of the SQL query', 'Answer': 'None'}

In [20]:
# Check for unusually large items or values
for i, item in enumerate(few_shots[:10]):
    print(f"Item {i} size: {len(str(item))} characters")

    # Optionally, you can limit the size of individual items
    for k, v in item.items():
        if isinstance(v, (str, list, dict)) and len(str(v)) > 1000:
            print(f"Large value detected for key {k}: size {len(str(v))} characters")

Item 0 size: 359 characters
Item 1 size: 221 characters
Item 2 size: 506 characters
Item 3 size: 267 characters

In [21]:
def process_metadata_item(item):
    """Convert complex metadata to a simple format."""
    try:
        return {k: str(v) for k, v in item.items()}
    except Exception as e:
        print(f"Error processing item {item}: {e}")
        return None

# Process metadata items and handle potential errors
flattened_metadata = []
for item in few_shots[:10]:  # Process a small subset
    processed_item = process_metadata_item(item)
    if processed_item is not None:
        flattened_metadata.append(processed_item)

print(flattened_metadata)

[{'Question': 'How many t-shirts do we have left for Nike in XS size and white color?', 'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'", 'SQLResult': 'Result of the SQL query', 'Answer': "{'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '19'}"}, {'Question': 'How much is the total price of the inventory for all S-size t-shirts?', 'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'", 'SQLResult': 'Result of the SQL query', 'Answer': '256'}, {'Question': 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?', 'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ", 'SQLResult': 'Result of the SQL query', 'Answer': '27895.8'}, {'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?', 'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'", 'SQLResult': 'Result of the SQL query', 'Answer': 'None'}]

In [22]:
import psutil

# Monitor CPU and memory usage
print("CPU usage:", psutil.cpu_percent(interval=1), "%")
print("Memory usage:", psutil.virtual_memory().percent, "%")

CPU usage: 0.4 %
Memory usage: 78.8 %

In [23]:
import pandas as pd

# Example of using pandas for large datasets
df = pd.DataFrame(few_shots)
df['processed_metadata'] = df.apply(lambda row: {k: str(v) for k, v in row.items()}, axis=1)
flattened_metadata = df['processed_metadata'].tolist()
print(flattened_metadata)

[{'Question': 'How many t-shirts do we have left for Nike in XS size and white color?', 'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'", 'SQLResult': 'Result of the SQL query', 'Answer': "{'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '19'}"}, {'Question': 'How much is the total price of the inventory for all S-size t-shirts?', 'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'", 'SQLResult': 'Result of the SQL query', 'Answer': '256'}, {'Question': 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?', 'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n ", 'SQLResult': 'Result of the SQL query', 'Answer': '27895.8'}, {'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?', 'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'", 'SQLResult': 'Result of the SQL query', 'Answer': 'None'}]

In [1]:
#flattened_metadata = [{k: str(v) for k, v in item.items()} for item in few_shots]
#print(flattened_metadata)